.section-title {
  font-size: 2.8rem;
  margin-bottom: 25px;
  color: #358596;
  position: relative;
  display: inline-block;
  font-weight: 600;
  z-index: 1;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #77c2c0, #358596);
  border-radius: 3px;
}
