@theme {
  --color-primary: #358596;
  --color-primary-light: #77c2c0;
  --color-primary-dark: #2c6b73;

  --color-secondary: #ad8ab1;
  --color-accent: #fabbb7;

  --color-bg: #f8fbf9;
  --color-text: #705e58;
  --color-white: #ffffff;
}
