@reference "../../../index.css";

.btn {
  @apply inline-block text-white font-semibold tracking-[1px] 
    px-[35px] py-[14px] rounded-[30px] transition-all duration-400 ease-in-out 
    cursor-pointer relative overflow-hidden;

  background: linear-gradient(to right, #77c2c0, #2c6b73);
  border: none;
  box-shadow: 0 4px 15px color-mix(in srgb, #77c2c0 40%, transparent);

  &::before {
    content: '';
    @apply absolute top-0 left-[-100%] w-full h-full;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: 0.5s;
  }

  &:hover::before {
    left: 100%;
  }

  &:hover {
    @apply -translate-y-[5px];
    box-shadow: 0 8px 20px color-mix(in srgb, #77c2c0 60%, transparent);
  }
}

.btn-outline {
  @apply cursor-pointer  border-2 border-solid;

  background: transparent;

  box-shadow: none;

  color: #358596;

  border-color: #77c2c0;

  &:hover {
    background: linear-gradient(to right, #77c2c0, #2c6b73);
    @apply text-white;
  }
}
